<div [ngClass]="{hide:isGivingTestFirstTime}">
  <div [ngClass]="{hide:hideTest}" >


        <div class="timer-container">
          <span>Time Elapsed : {{displayTimeElapsed()}}</span>
        </div>


        <div class="progress progress2">
          <div class="progress-bar" role="progressbar" [style.width.%]="seconds/18" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>


        <div class="container-nav">
          <div *ngFor="let q of questions;index as i" (click)="indexSelect(i)">
            <button [ngClass]="{green:(i==qProgress)?true:false, button:true}">{{i+1}}</button>
          </div>
        </div>

  
        <div *ngIf="questions" class="questions">
          <div>
            {{qProgress+1}}. {{questions[qProgress].question}}
          </div>
        </div>
        <div class="options">
          <div (click)="answer(0)" [ngClass]="{green:selectedOptions[0], option:true}">A- {{questions[qProgress].optionA}}</div>
          <div (click)="answer(1)" [ngClass]="{green:selectedOptions[1],option:true}">B- {{questions[qProgress].optionB}}</div>
          <div (click)="answer(2)" [ngClass]="{green:selectedOptions[2],option:true}">C- {{questions[qProgress].optionC}}</div>
          <div (click)="answer(3)" [ngClass]="{green:selectedOptions[3],option:true}">D- {{questions[qProgress].optionD}}</div>
        </div>
        <div class="nav-buttons">
          <button (click)="nav(false)"[ngClass]="{hide:hideBack, left:true}">back</button><button [ngClass]="{hide:hideNext, right:true}"(click)="nav(true)">next</button>
          <button [ngClass]="{hide:hideSubmit,right:true}" (click)="submitTest()">submit</button>
        </div>
      
  </div>
  
  <div [ngClass]="{hide:!hideTest, output:true}">
      <div class="score">
        <h1>your Score is : {{score}}</h1>
      </div>
      <div class="nav-buttons">
        <button (click)="nextTest()" [ngClass]="{hide:(!isPassed||isLevel4)}">next Level</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button routerLink='/home'>logout</button>
      </div>
  </div>


</div>


<div [ngClass]="{hide:!isGivingTestFirstTime, output:true}">
      <h3>Test Details</h3>
      <div class="list">
        <ul>
          <li>There is no negative marking for any of the questions.</li>
          <li>You can navigate between your questions during your test.</li>
          <li>Do not indulge into any unfair means during the test.</li>
          <li>At the top of the screen you can see the timer which indicates the time left for your test to get over</li>
          <li>You can change your response at anytime during the test.</li>
          <li>Click on the next button to go to the next question</li>
          <li>Click on submit button to submit your response for each question.</li>
          <li>Click on the start test button to start yor test</li>
          <li>after submitting the test you score will be diplayed on the screen</li>
          <li>If you clear the first level you will be able to see the next level button on the screen</li>
        </ul>
        <button (click)="startTest()">start test</button>
      </div>
</div>