<body>
    <div class="h">
        <div class="topnav">
            <i class="fas fa-home fa-3x cust"></i>
            <a class="top" href="#home">Home</a>
            <a class="top" href="#about" routerLink='/about'>About Us</a>
            <div class="logo"><a href="#"><img src="/assets/images/logo2.jpeg"></a></div> 
            <a class="active" href="#about" routerLink='/login'>Login</a>   
        </div>
    
       <!-- <div class="about-us">
            <div class="container">
            <h1>About Us</h1>
            <p class="text">
                HirePlace is an easy to use online exam website for training and educational 
                assessments which not only reduces paperwork but also saves time,money and 
                resourcse of recruiter as well as aspirants, trainees.
            </p>
        </div>
        </div>-->
    </div>
    <footer>
        <div class="footer">
            <div class="footer-content">
                <div class="footer-section"><br><br>
                    <h3 class="logo-text"><span>HP</span></h3>
                    <p>
                        HirePlace is an easy to use online exam website for training and educational 
                        assessments which not only reduces paperwork but also saves time,money and 
                        resourcse of recruiter as well as aspirants, trainees.
                    </p>
                    <div class="contact">
                        <span><i class="fas fa-phone"></i>&nbsp;8240469330</span>
                        <span><i class="fas fa-envelope"></i>&nbsp;info@hireplace.com</span>
    
                    </div>
                        <div class="socials">
                            <a href="#"><i class="fab fa-facebook"></i></a> &nbsp;
                            <a href="#"><i class="fab fa-instagram"></i></a> &nbsp;
                            <a href="#"><i class="fab fa-twitter"></i></a> &nbsp;
                            <a href="#"><i class="fab fa-youtube"></i></a> &nbsp;
                            <a href="#"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                <div class="footer-section"><br>
                    <h1 class="logo-text"><span>About Us</span></h1><br><br>
                    <h3 class="logo-text"><span>Our mission</span></h3>
                    <p>
                        We aim to provide the best experience to the students during their virtual examination.
                    </p>

                </div>
                <div class="footer-section"><br><br>


                    <h3 class="logo-text"><span>Our Beliefs</span></h3>
                    <p>
                        We believe in intergrity,innovation and providing the best experience to the users.
                    </p>
                </div>
            </div>
            <div class="footer-bottom">
                This site is copyright © to HirePlace. All rights are reserved here !
              <!--  &copy;HirePlace | 2020-->
            </div><br>
           
      
        </div>
    </footer>
    </body>
