
  
        <div class="topnav">
            <i class="fas fa-home fa-2x cust"></i>
            <a class="top1" href="#home">Home</a>
            <a class="top2" href="#about" routerLink='/about'>About Us</a>
            <div class="logo" ><a href="#"><img src="/assets/images/logo.jpg" style="height: 300px; width: 210px;" ></a></div> 
             
        </div>
        <div class="container_background">   
            
            <div class="about" style="width: 32%;">
                <h2><u>ABOUT US</u></h2>
                <div class="content">
                <i>HirePlace is an easy to use online exam website for training and educational
                assessments which not only reduces paperwork but also saves time,money and 
                resourcse of recruiter as well as aspirants, trainees.
                </i>
                   
              </div>
              </div>
              <img src="/assets/images/Us.png" alt="" style="display: block; width: 45%; height: 85%;"> 
        </div>
        <div class="footer_zero" style="width: 100%; text-align: center; margin-bottom: 0px;">
            <b>This site is copyright © to HirePlace. All rights are reserved here!</b>
        </div>
      
    <div class="footer1">
       
        <div class="first_horizontal" style="display: flex; justify-content: space-between;">
            <div >
                <h3>Our Mission</h3>
                <i>
                    We aim to provide the best experience to the students during their virtual examination.<br>
                    We aspire to be India’s largest and most comprehensive online destination for exams.
                </i>
            </div>
            <div>
                <h3>Our Belief</h3>
                <i>
                    We believe in intergrity,innovation and providing the best experience to the users.<br>
                    We believe in intergrity,innovation and providing the best experience to the users.
                </i>
            </div>
        </div>
        <div class="second_horizontal" style="width: 100%;">
            <span><i class="fas fa-phone"></i>&nbsp;8240469330</span><br>
                    <span><i class="fas fa-envelope"></i>&nbsp;info@hireplace.com</span><br>
                    <a href="#"><i class="fab fa-facebook"></i></a> &nbsp;
                    <a href="#"><i class="fab fa-instagram"></i></a> &nbsp;
                    <a href="#"><i class="fab fa-twitter"></i></a> &nbsp;
                    <a href="#"><i class="fab fa-youtube"></i></a> &nbsp;
                    <a href="#"><i class="fab fa-whatsapp"></i></a>


        </div>
       
    </div>


