@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
html,body{
  background-image: url(/assets/images/im2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: sans-serif;
  background-color:transparent;
  height: 100%;
  bottom: 100%;
  
}
.topnav {
    background-color: #133b5c;
    overflow: hidden;
    height: 80px;
  }
  
 
  .topnav .top {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 22px 65px;
    text-decoration: none;
    font-size: 25px;
  }
  

  .topnav .top:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav .top .active {
    float: right;
  }
  .container .jumbotron{
      margin-left: 150px;
  }

  .logo a img{
    margin-left: 160px;
    padding-top: px;
    bottom: 50px;
    height: 70px;
    width: 200px;
  
  }

  .button1{
    width: 70%;
    padding: 1rem;
    border-radius: 30px;
    margin-bottom: 2rem;
    margin-top: 0.1rem;
    border: none;
    font-size: 2.5rem;
    color: #133b5c;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
  }
  html,body{
    height: 100%;
  }

  .button2{
    width: 70%;
    padding: 1rem;
    border-radius: 30px;
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
    border: none;
    font-size: 2.5rem;
    color: #133b5c;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
  }

button:hover{
    transform: scale(1.1);
}

.container{
  border: none;
  box-shadow: 3px 3px 5px 6px #ccc; 
  width: 30%;
  margin:auto;
  margin-top: 10rem;
  backdrop-filter: blur(5px);
 
}

.container1{
  padding: 8rem 4rem;
  height: 300px;
  background-color: transparent;
  margin-left: 85px;
 
 
}
.h{
  height: 900px;
}
.cust {
  position: absolute;
  margin-right: 20px;
  margin-top: 1px;
  width: 20px;
  height: 20px;
  padding-top: 9px;
  padding-left: 15px;
  color: white;
 
 
 }
 .cust:hover{
   color: black;
   background-color: black;
 }
 

