<body>
  <div class="h">
<div class="topnav">
  <i class="fas fa-home fa-3x cust"></i>
  <a class="top" href="#home" routerLink="/home">Home</a>
  <a class="top" href="#about"routerLink="/about">About Us</a>  
  <div class="logo"><a href="#"><img src="/assets/images/logo2.jpeg"></a></div> 
  <a class="active" (click)="logout()" routerLink="/home">Logout</a> 
</div>


<!--<div class="row justify-content-center">
  <div class="c1"></div>
  <div class="col sm-6">
<div class="card text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text"></p>
      <button class="btn btn-primary" routerLink="/company-details">Add test</button>-->
    <!--</div>
  </div>
  </div>
</div>
  
<div class="c2">
  <div class="col-sm-6">
  <div class="card text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary" routerLink="/student-details">student details</a>-->
   <!-- </div>
  </div>
</div>
</div>

<div class="c3">
<div class="col-sm-6">
  <div class="card text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary" routerLink="/test-details">Test details</a>-->
  <!--  </div>
  </div>
</div>

</div>-->
<div>
  <div class="container1">
    <div>
      <button class="button1" routerLink='/company-details'>add Test</button>
  </div>
  <div>
      <button routerLink='/student-details' class="button2">student details</button>
  </div>
  <div>
    <button routerLink='/test-details' class="button3">Test details</button>
</div>
  </div>
</div> 

</div>
</body>
  

