
<div class="navbar2">
    <div style="display: flex;">
    <img src="assets/images/logo.png" alt="">
    <div id="stark" color="primary">Stark Air</div>
    
  </div>
    <div>
      <button mat-button class="right">Home</button>
    
       <button mat-button class="right" >Login</button>
       <button mat-button class="right" > Register</button>
       <button mat-button class="right">Search Flight</button>
       <button mat-button class="right">Contact Us</button>
       <button mat-button class="right">Log out</button>
     
    </div>
  
  </div>