
<body>
    <div><div class="topnav">
        <i class="fas fa-home fa-2x cust"></i>
        <a class="top1" href="#home" routerLink='/home'>Home</a>
        <a class="top2" href="#about" routerLink='/about'>About Us</a>
        <div class="logo"><img src="/assets/images/lg.jpg"></div>   
    </div>
<div class="container">
    <div class="row">
        <div class="col-10">
        
            <div class="jumbotron">
                <h2 style="margin-left: 28%;">REGISTRATION FORM</h2><br>
            
            <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onSubmit()">
                <div class="row">   
                    <div class="col-md-6">
                    <div class="form-group">
                        
                    <label for="firstName">First Name:</label>
                    <input class="form-control form-control-lg" type="text" name="firstName" id="firstName" formControlName="firstName" [ngClass]="{'is-invalid':
                    registerForm.get('firstName').touched && registerForm.get('firstName').invalid}">
                    <div style="color: rgba(255, 0, 55, 0.966);" *ngIf="registerForm.controls.firstName.invalid && 
                        (registerForm.controls.firstName.touched || registerForm.controls.firstName.dirty)">
                        <h6>*First name is required</h6>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="form-group">
                        
                        <label for="lastName">Last Name:</label>
                        <input class="form-control form-control-lg" type="text" name="lastName" id="lastName" formControlName="lastName" [ngClass]="{'is-invalid':
                        registerForm.get('lastName').touched && registerForm.get('lastName').invalid}">
                        <div style="color: rgba(255, 0, 55, 0.966);" *ngIf="registerForm.controls.lastName.invalid && 
                            (registerForm.controls.lastName.touched || registerForm.controls.lastName.dirty)">
                            <h6>*Last name is required</h6>
                            </div>
                        </div>
                    </div>
                    </div>
                <div class="form-group">
                    
                 <label for="email">Email-Id:</label>
                 <input class="form-control input-validation-error" type="email" name="email" id="email" formControlName="email" [ngClass]="{'is-invalid':
                 registerForm.get('email').touched && registerForm.get('email').invalid}">
                 <div style="color: rgba(255, 0, 55, 0.966);" *ngIf="registerForm.controls.email.invalid && 
                    (registerForm.controls.email.touched || registerForm.controls.email.dirty)">
                    <h6>*Valid Email-Id is required</h6>
                    </div>
                </div>
                <div class="form-group">
                    
                <label for="mobileNumber">Mobile Number:</label>
                <input class="form-control input-validation-error" type="text" name="mobileNumber" id="mobileNumber" formControlName="mobileNumber" [ngClass]="{'is-invalid':
                registerForm.get('mobileNumber').touched && registerForm.get('mobileNumber').invalid}">
                <div style="color: rgba(255, 0, 55, 0.966);" *ngIf="registerForm.controls.mobileNumber.invalid && 
                    (registerForm.controls.mobileNumber.touched || registerForm.controls.mobileNumber.dirty)">       
                     <h6>*Valid Mobile Number is required</h6>      
                    </div>
                </div>
                <div class="form-group">
                   
                <label for="city">City:</label>
                <input class="form-control input-validation-error" type="text" name="city" id="city" formControlName="city"[ngClass]="{'is-invalid':
                 registerForm.get('city').touched && registerForm.get('city').invalid}" >
                 <div style="color: rgba(255, 0, 55, 0.966);" *ngIf="registerForm.controls.city.invalid && 
                 (registerForm.controls.city.touched || registerForm.controls.city.dirty)">       
                  <h6>*City is required</h6>      
                 </div>
                </div>
                <div class="form-group">
                    
                <label for="dateOfBirth">Date of Birth:</label>
                <input class="form-control input-validation-error" type="date" name="dateOfBirth" id="dateOfBirth" formControlName="dateOfBirth" [ngClass]="{'is-invalid':
                registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').invalid}">
                <div style="color: rgba(255, 0, 55, 0.966);" *ngIf="registerForm.controls.dateOfBirth.invalid && 
                    (registerForm.controls.dateOfBirth.touched || registerForm.controls.dateOfBirth.dirty)">       
                    <h6>*Date of birth is required</h6>      
                    </div>
                </div>
    <div class="form-group">
        
        <label for="state">State:</label>
        
        <select name="state" id="state" class="form-control input-validation-error" formControlName="state" [ngClass]="{'is-invalid':
        registerForm.get('state').touched && registerForm.get('state').invalid}">
            <option value="Andhra Pradesh">Andhra Pradesh</option>
            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
            <option value="Assam">Assam</option>
            <option value="Bihar">Bihar</option>
            <option value="Chandigarh">Chandigarh</option>
            <option value="Chhattisgarh">Chhattisgarh</option>
            <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
            <option value="Daman and Diu">Daman and Diu</option>
            <option value="Delhi">Delhi</option>
            <option value="Lakshadweep">Lakshadweep</option>
            <option value="Puducherry">Puducherry</option>
            <option value="Goa">Goa</option>
            <option value="Gujarat">Gujarat</option>
            <option value="Haryana">Haryana</option>
            <option value="Himachal Pradesh">Himachal Pradesh</option>
            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
            <option value="Jharkhand">Jharkhand</option>
            <option value="Karnataka">Karnataka</option>
            <option value="Kerala">Kerala</option>
            <option value="Madhya Pradesh">Madhya Pradesh</option>
            <option value="Maharashtra">Maharashtra</option>
            <option value="Manipur">Manipur</option>
            <option value="Meghalaya">Meghalaya</option>
            <option value="Mizoram">Mizoram</option>
            <option value="Nagaland">Nagaland</option>
            <option value="Odisha">Odisha</option>
            <option value="Punjab">Punjab</option>
            <option value="Rajasthan">Rajasthan</option>
            <option value="Sikkim">Sikkim</option>
            <option value="Tamil Nadu">Tamil Nadu</option>
            <option value="Telangana">Telangana</option>
            <option value="Tripura">Tripura</option>
            <option value="Uttar Pradesh">Uttar Pradesh</option>
            <option value="Uttarakhand">Uttarakhand</option>
            <option value="West Bengal">West Bengal</option>
            </select>

        <div style="color: rgba(255, 0, 55, 0.966);" *ngIf="registerForm.controls.state.invalid && 
                    (registerForm.controls.state.touched || registerForm.controls.state.dirty)">       
                     <h6>*State is required</h6>      
            </div>
    </div>
    <div class="form-group">
        
        <label for="qualification">Qualification:</label>
        <select name="qualification" id="qualification" class="form-control input-validation-error" formControlName="qualification" [ngClass]="{'is-invalid':
        registerForm.get('qualification').touched && registerForm.get('qualification').invalid}">
            <option value="B.Tech Computer Science Engineering">B.Tech Computer Science Engineering</option>
            <option value="B.Tech Information Technology">B.Tech Information Technology</option>
            <option value="B.Tech Electronics And Communications Engineering">B.Tech Electronics And Communications Engineering</option>
            <option value="B.Tech Electrical And Electronics Engineering">B.Tech Electrical And Electronics Engineering</option>
            <option value="B.Tech Mechanical Engineering">B.Tech Mechanical Engineering</option>
            <option value="B.Tech Others">B.Tech Others</option>
            <option value="M.Tech Computer Science Engineering">M.Tech Computer Science Engineering</option>
            <option value="M.Tech Information Technology">M.Tech Information Technology</option>
            <option value="M.Tech Electronics And Communications Engineering">M.Tech Electronics And Communications Engineering</option>
            <option value="M.Tech Electrical And Electronics Engineering">M.Tech Electrical And Electronics Engineering</option>
            <option value="M.Tech Mechanical Engineering">M.Tech Mechanical Engineering</option>
            <option value="M.Tech Others">M.Tech Others</option>
            </select>
        <div style="color: rgba(255, 0, 55, 0.966);" *ngIf="registerForm.controls.qualification.invalid && 
                    (registerForm.controls.qualification.touched || registerForm.controls.qualification.dirty)">       
                     <h6>*Qualification is required</h6>      
            </div>
    </div>
    <div class="form-group">
       
        <label for="yearOfCompletion">Year Of Completion:</label>
        <input class="form-control input-validation-error" type="number" name="yearOfCompletion" id="yearOfCompletion" formControlName="yearOfCompletion" [ngClass]="{'is-invalid':
        registerForm.get('yearOfCompletion').touched && registerForm.get('yearOfCompletion').invalid}">
        <div style="color: rgba(255, 0, 55, 0.966);" *ngIf="registerForm.controls.yearOfCompletion.invalid && 
        (registerForm.controls.yearOfCompletion.touched || registerForm.controls.yearOfCompletion.dirty)">       
         <h6>*Year Of Completion is required</h6>      
</div>
    </div>
    <div class="form-group">
        
        <label for="password">Enter Password:</label>
        <input class="form-control input-validation-error" name="password" id="password" type="password" formControlName="password" [ngClass]="{'is-invalid':
        registerForm.get('password').touched && registerForm.get('password').invalid}">
        <div style="color: rgba(255, 0, 55, 0.966);" *ngIf="registerForm.controls.password.invalid && 
        (registerForm.controls.password.touched || registerForm.controls.password.dirty)">       
                    <h6>*Valid Password is required</h6>
        </div>
        
    </div>
    <div class="form-group">
        
        <label for="confirmPassword">Confirm Password:</label>
        <input class="form-control input-validation-error" name="confirmPassword" id="confirmPassword" type="password" formControlName="confirmPassword" [ngClass]="{'is-invalid':
        registerForm.get('confirmPassword').touched && registerForm.get('confirmPassword').invalid}">
        <div style="color: rgba(255, 0, 55, 0.966);" *ngIf="registerForm.controls.confirmPassword.invalid && 
        (registerForm.controls.confirmPassword.touched || registerForm.controls.confirmPassword.dirty)">       
                    <h6>*Confirm Password is required</h6>    
        </div>
        
    </div>
    
        

    <div class="text-center">
        <button class="btn btn-primary" [disabled]="registerForm.invalid">Register</button>   
        <br><br><br>
        
        </div> 
    </form>
    </div>
    </div>
    </div>
    </div>
   
