<div>
    <div class="topnav">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a class="active" href="#logout">Logout</a>    
    </div>

    <div class="container">
        <div class="container1">
            <div>
                <button class="button1" routerLink='/test'>Start Test</button>
            </div>
            <div>
                 <button class="button2" routerLink='/user-result'>View Results</button>
            </div>
        </div>
    </div> 
</div>