@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  background-color:transparent;
  height: max-content;
  overflow: hidden;
  top: auto;
  left: auto;
  
}
.topnav .top {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 22px 65px;
  text-decoration: none;
  font-size: 25px;
}

.topnav {
  background-color: #211261;
  overflow: hidden;
  height: 80px;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 65px;
  text-decoration: none;
  font-size: 30px;
}

.topnav a.top:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 22px 65px;
  text-decoration: none;
  font-size: 25px;
}
    
.container .jumbotron{
    margin-left: 150px;
    margin-top: 60px;
}

/*.logo a img{
  margin-left: 440px;
  margin-top:2px;
  width: 200px;
}*/
.logo a img{
  margin-left: 440px;
  padding-top: 1px;
  bottom: 50px;
  height: 70px;
  width: 200px;

}
.button1{
  width: 60%;
  padding: 1rem;
  border-radius: 30px;
  margin-bottom: 2rem;
  margin-top: 0.1rem;
  border: none;
  margin-left: 20px;
  font-size: 1.5rem;
  background-color: white;
  color: black;
  text-align: center;
}

.button2{
  width: 60%;
  height: 30%;
  padding: 1rem;
  border-radius: 30px;
  margin-bottom: 2rem;
  border: none;
  margin-left: 20px;
  font-size: 1.5rem;
  background-color:white;
  color: black;
  text-align: center;
}
  
button:hover{
  transform: scale(1.1);
}

.container{
  border: none;
  box-shadow: 6px 6px 10px 10px rgba(128, 128, 128, 0.493); 
  width: 36%;
  margin:auto;
  margin-top:150px;
  backdrop-filter: blur(5px);
  margin-left: 500px;
  background-color:#61279e;
  border-radius: 25px;
}

.container1{
  padding: 4rem 4rem;
  height: 300px;
  background-color: transparent;
  margin-left: 85px;
}

.h{
  height: 720px;
}

.cust {
  position: absolute;
  margin-right: 20px;
  margin-top: 1px;
  width: 20px;
  height: 20px;
  padding-top: 9px;
  padding-left: 15px;
  color: white;
 
 
 }
 .cust:hover{
   color: black;
   background-color: black;
 }

 .hide{
  display: none;
}