<div>
    <div class="topnav">
        <!--<i class="fas fa-home fa-2x cust"></i>
        <a href="#home" class="top" routerLink='/home'>Home</a>
        <a href="#about" class="top" routerLink='/about'>About</a>-->
       
        <div class="logo"><a><img src="/assets/images/lg.jpg"></a></div>
        <a class="active" (click)="logout()">Logout</a>    
    </div>

    <div class="container">
        <div class="container1">
            <div>
                <button [ngClass]="{hide:isNoTest, button1:true}" routerLink='/test'>Start Test</button>
            </div>
            <div>
                 <button class="button2" routerLink='/user-result'>Result</button>
            </div>
        </div>
    </div> 
</div>