<body>
    <div>
        <div class="topnav">
            <i class="fas fa-home fa-2x cust"></i>
            <a class="top1" href="#home" routerLink="/home">Home</a>
            <a class="top2" href="#about" routerLink="/about">About Us</a>
            <div class="logo"><a href="#"><img src="/assets/images/newlogocropped.jpg"></a></div>
            
            
        </div>

        <div class="h">
            <div class="container">
                <div class="container1">
                   <h2>User Sign In</h2> 
                </div>
                <div class="container2">
                    <div>

                    

                <form [formGroup] = "userLoginForm" (submit) ="onLogin()" >
                    <div>          
                    
                    <i class="fas fa-user fa-2x cust2"></i> 
                    <input type="text" placeholder=" Username" formControlName = "username" > <br>
                    <p class = "validate" style="color: rgba(255, 0, 55, 0.966);"  *ngIf = "userLoginForm.controls.username.errors && (userLoginForm.controls.username.touched || userLoginForm.controls.username.dirty)">*Username required</p> 
                </div>
                <div>
                    
                    <i class="fas fa-lock fa-2x cust2"></i> 
                    <input type="password" placeholder="password" formControlName = "password"> 
                    <p class = "validate" style="color: rgba(255, 0, 55, 0.966);" *ngIf = "userLoginForm.controls.password.errors && (userLoginForm.controls.password.touched || userLoginForm.controls.password.dirty)">*Password required</p> 
                </div>
                <div>
                    <p class="forgot"><a href="reset"> &nbsp; &nbsp; &nbsp; Forgot Password?</a></p> 
                    <button class="btn" type="submit" [disabled] ="userLoginForm.invalid">Login</button>
                </div>
                <div>
                    <p> &nbsp; &nbsp; &nbsp; Not a registered user? <a routerLink='/registration'>Sign up</a></p>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
   </div>

</body>