<div>

   
    <div class="topnav">
        <i class="fas fa-home fa-2x cust"></i>
        <a href="#home" routerLink='/home'>Home</a>
        <div class="logo"><a><img src="/assets/images/newlogocropped.jpg"></a></div>
         
    </div>

    <div class="container">
        <div class="container1">
           Password Reset
        </div>

        <div class="container2">
            <form [formGroup] = "passwordForm" (ngSubmit) = "onSubmit()">
                <div>
                    <div>
                        <input type="password" placeholder="New Password" formControlName="newPassword" name="newPassword" id="newPassword">
                    </div>
                    
                    <div>
                        <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" name="confirmPassword" id="confirmPassword">
                    </div>

                    <div>
                        <button>Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

