
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="h">

    <div class="topnav">
        <i class="fas fa-home fa-2x cust"></i>
        <a  class="top1" href="#home">Home</a>
        <a class="top2" href="#about" routerLink='/about'>About Us</a>  
       <div class="logo"><img src="/assets/images/newlogocropped.jpg"></div> 
    </div>

    <div class="container">
        <div class="container1">
            <div>
                <button class="button1" routerLink='/registration'>Registration</button>
            </div>
            <div>
                <button routerLink='/login' class="button2">Login</button>
            </div>
        </div>
    </div> 
</div>
<!--<footer>
    <div class="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h1 class="logo-text"><span>HP</span></h1>
                <p>
                    HirePlace is an easy to use online exam website for training and educational 
                    assessments which not only reduces paperwork but also saves time,money and 
                    resourcse of recruiter as well as aspirants, trainees.
                </p>
                <div class="contact">
                    <span><i class="fas fa-phone"></i>&nbsp;8240469330</span>
                    <span><i class="fas fa-envelope"></i>&nbsp;info@hireplace.com</span>

                </div>
                    <div class="socials">
                        <a href="#"><i class="fab fa-facebook"></i></a> &nbsp;
                        <a href="#"><i class="fab fa-instagram"></i></a> &nbsp;
                        <a href="#"><i class="fab fa-twitter"></i></a> &nbsp;
                        <a href="#"><i class="fab fa-youtube"></i></a> &nbsp;
                        <a href="#"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>
            <div class="footer-section links"></div>
            <div class="footer-section contact-form"></div>
        </div>
        <div class="footer-bottom">
            &copy;HirePlace | 2020
        </div>
  
    </div>
</footer>-->
</body>