@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
  background-image: url(/assets/images/im2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  height: 100%;
  
}
a{
    text-decoration: none;
}

.container{
    border: none;
    box-shadow: 3px 3px 5px 6px #ccc; 
    width: 30%;
    margin:auto;
    margin-top: 10rem;
    margin-top: 5rem;
    backdrop-filter: blur(8px);
}

.container1{
    font-size: 2.1rem;
    color: white;
    background-color: #133b5c;
    padding: 1.5rem;
    text-align: center;
    font-weight: bold;
    width: 100%;

}

.container2{
    
    padding: 4rem 4rem;
   
}
.container2 .btn{
  padding-left: 0.5rem;
  padding-top: 0.3rem;
  width: 90%;
}
.container2 div p a{
  color:rgb(240, 240, 247);
}


input, button{
    width: 90%;
    padding: 1rem;
    border-radius: 30px;
    margin-bottom: 1.2rem;
    border: none;
}

button{
    width: 90%;
    font-size: 1.2rem;
    color: white;
    padding: 10px;
    align:center;
    border-radius: 30px;
    background-color: #133b5c;
}

input{
    background-color: rgb(235, 235, 243);
    font-size: 1rem;
    padding-left: 80px;
}





button:hover{
    transform: scale(1.1);
}


.container .container1 .container2{
    backdrop-filter: blur(5px);
  }
  .h{
    height: 700px;
  }
  .topnav .top {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 22px 65px;
    text-decoration: none;
    font-size: 25px;
  }
 /* .topnav .top:hover {
    color:black;
    background-color: #f2f2f2;
  }
  .topnav .fas fa-home:hover{
    color:black;
    background-color: black;
  }*/
  
  .topnav .top.active {
    float: right;
  }
  .topnav {
    background-color:  #133b5c;
    color: white;
    overflow: hidden;
    height: 80px;
  }
  .logo a img{
    margin-left: 160px;
    padding-top: px;
    bottom: 50px;
    height: 70px;
    width: 200px;
  
  }
  .cust {
   position: absolute;
   margin-right: 20px;
   margin-top: 1px;
   width: 20px;
   height: 20px;
   padding-top: 9px;
   padding-left: 15px;
  
 
  }
  .cust:hover{
    color: black;
    background-color: black;
  }
  /*.btn{
      color: white;
      background-color: #133b5c;
  }*/