<body>
    <div>
        <div class="topnav">
            <i class="fas fa-home fa-2x cust"></i>
            <a class="top1" href="#home" routerLink="/home">Home</a>
            <a class="top2" href="#about" routerLink="/about">About Us</a>
            <div class="logo"><a><img src="/assets/images/lg.jpg"></a></div>
            
            
            
        </div>

        <div class="h">
            <div class="container">
                <div class="container1">
                    Admin Sign In
                </div>
                <div class="container2">
                    <div>

                    

                <form [formGroup] = "adminLoginForm" (submit) ="onLogin()" >
                    <div>          
                   
                    <i class="fas fa-user fa-2x cust2"></i> 
                    <input type="text" placeholder=" UserName" formControlName = "username" > <br>
                    <p class = "validate" style="color:red"  *ngIf = "adminLoginForm.controls.username.errors && (adminLoginForm.controls.username.touched || adminLoginForm.controls.username.dirty)">*Username required</p> 
                </div>
                <div>
                   
                    <i class="fas fa-lock fa-2x cust2"></i> 
                    <input type="password" placeholder="Password" formControlName = "password"> 
                    <p class = "validate" style="color: red;"  *ngIf = "adminLoginForm.controls.password.errors && (adminLoginForm.controls.password.touched || adminLoginForm.controls.password.dirty)">*Password required</p> 
                </div>
                <div>
                    <button class="btn" type="submit" [disabled] ="adminLoginForm.invalid">Login</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
   </div>
</body>
